<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /codeigniter/blog/
    
    # Redirect to non-www (optional)
    # RewriteCond %{HTTP_HOST} ^www\. [NC]
    # RewriteRule ^(.*)$ http://%{HTTP_HOST}/$1 [R=301,L]
    
    # Remove index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# Prevent directory listing
Options -Indexes